force-app/main/default/flows/Encourage_Discourage_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Encourage_Discourage_Notification</name>
        <label>Encourage/Discourage Notification</label>
        <locationX>673</locationX>
        <locationY>370</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_if_Move_to_Next_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00Xak000003rNsnEAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Full_Application_Stage_Email</name>
        <label>Full Application Stage Email</label>
        <locationX>949</locationX>
        <locationY>764</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00Xak000003wTDhEAM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_if_Move_to_Next_Stage</name>
        <label>Check if Move to Next Stage</label>
        <locationX>737</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Don&apos;t Move to Next Stage</defaultConnectorLabel>
        <rules>
            <name>Next_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Likelihood_of_Acceptance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_to</targetReference>
            </connector>
            <label>Next Stage</label>
        </rules>
    </decisions>
    <description>Send Encourage/Discourage Notification (likelihood) by email to applicant.
Say that the application is in process and thank you letter.</description>
    <environments>Default</environments>
    <interviewLabel>Assign Lookup From Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Encourage/Discourage Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Stage_to</name>
        <label>Update Stage to Full Application Stage</label>
        <locationX>837</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>Full_Application_Stage_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Full Application Stage</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Encourage_Discourage_Notification</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
